<div class="container__big-card">
  <div class="big-card__photo">
    <!-- //mokado -->
    <img
      src="https://recreio.uol.com.br/media/uploads/dc_comics/adao_negro_hqs_capa.jpg"
      alt=""
      height="200px"
      srcset=""
    />
  </div>

  <div class="big-card__title">
    <h1>
    <a href="">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur
        corrupti
      </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores soluta
      natus aliquid non fuga dicta recusandae saepe, voluptas quidem culpa quo
      enim iusto, illum, facilis rem. Deleniti quo praesentium odit.
    </a>
    </p>
  </div>
</div>
